@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
.dotted-link-container {
    width: 100%;
    max-width: 1200px; /* Adjust as needed */
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .dotted-link-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .dotted-link-text {
    margin-right: 4px;
    white-space: nowrap;
  }
  
  .dotted-line {
    flex-grow: 1;
    border-bottom: 3px dotted #999;
    margin: 0 8px;
    height: 1em; /* Matches text height */
  }
  
  .dotted-link {
    white-space: nowrap;
    color: #0066cc;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
  }
  
